/*   _ _ _ __    _____ _____ _____ _____ _____ 
    | | | |  |  |     |   __|     |  |  |_   _|
    | | | |  |__|  |  |  |  |  |  |  | | |  
    |_____|_____|_____|_____|_____|_____| |_|   STYLE  
                                           
    by Bina 
*/


@import './colors.css';

/* general */
* {
  background-image: none;
  transition: 20ms;
  box-shadow: none;
}

/*
  To generate blur image you do it like so:
  magick ~/Pictures/wallpaper/gelbooru_5300099_1ae9720093ee894e99197033452ba666.jpg -blur 32x12 ~/.cache/wlogout/blurred_image.png
  The 32x12 means a radius of 32 and a sigma of 12.
  The blurred image will be saved in ~/.cache/wlogout directory
*/

window {
  background-image: image(url("../../.cache/wlogout/blur.jpg"));
  background-size: 100%;
}

button {
  color: #FFFFFF;
  background-color: @color1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20%;
  border: none;
  border-radius: 10px;
  outline-style: none;
  transition: background-size 0.2s cubic-bezier(0.4, 0, 0.2, 1),
    border-radius 0.2s cubic-bezier(0.4, 0, 0.2, 1),
    margin 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

/* options */
#lock {
  background-color: @color1;
  background-image: image(url("icons/lock.png"));
  border-radius: 5px 0px 0px 0px;
  margin: 100px 0px 0px 550px;
}

#reboot {
  background-color: @color2;
  background-image: image(url("icons/restart.png"));
  border-radius: 0px 0px 0px 5px;
  margin: 0px 0px 100px 550px;
}

#logout {
  background-color: @color3;
  background-image: image(url("icons/logout.png"));
  border-radius: 0px 5px 0px 0px;
  margin: 100px 550px 0px 0px;
}

#shutdown {
  background-color: @color4;
  background-image: image(url("icons/power.png"));
  border-radius: 0px 0px 5px 0px;
  margin: 0px 550px 100px 0px;
}

/* options on focus */
button:focus {
  background-size: 25%;
}

button:focus#lock {
  border-radius: 10px 10px 0px 10px;
  margin: 80px 0px 0px 530px;
}

button:focus#reboot {
  border-radius: 10px 0px 10px 10px;
  margin: 0px 0px 80px 530px;
}

button:focus#logout {
  border-radius: 10px 10px 10px 0px;
  margin: 80px 530px 0px 0px;
}

button:focus#shutdown {
  border-radius: 0px 10px 10px 10px;
  margin: 0px 530px 80px 0px;
}

/* options on hover */
button:hover {
  background-size: 25%;
  border-radius: 0px;
}

button:hover#lock {
  margin: 100px 0px 0px 550px;
}

button:hover#reboot {
  margin: 0px 0px 100px 550px;
}

button:hover#logout {
  margin: 100px 550px 0px 0px;
}

button:hover#shutdown {
  margin: 0px 550px 100px 0px;
}
